*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: italic;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #282828;
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.3;
  letter-spacing: -0.004em;
}

h2 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.3;
}

.subheader {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3;
  padding-bottom: 16px;
}

.clamp {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.page-width {
  width: 100%;
  padding: 0 20px;
}

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.bg-primary-1 {
  background: #3E5255;
}

.bg-primary-2 {
  background: #B3D1D4;
}

.relative {
  position: relative;
}

.text-grid-container {
  display: block;
  grid-column-gap: 40px;
  grid-template-columns: repeat(6, 1fr);
}

.text-grid-child {
  grid-column: 3/span 4;
}

.text-grid-child-wide {
  grid-column: 2/span 5;
}

.paragraphs-spacing {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blue-text {
  color: blue;
}

.block-txt {
  padding: 32px 0 48px;
}

.block-img {
  padding: 8px 0;
}

.block-caption {
  padding: 8px 0 0;
}

.block-divider {
  padding: 60px 0 36px;
}

.project-content {
  padding-bottom: 32px;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-nav-mobile svg {
  height: 1.25rem;
  width: auto;
}

.logo-nav {
  display: none;
}
.logo-nav svg {
  height: 1.25rem;
  width: auto;
}

nav {
  display: flex;
  gap: 1.5rem;
}
nav a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1rem;
}
nav a:hover {
  color: #B3D1D4;
}
nav .current {
  font-weight: 700;
}
nav .current-page {
  pointer-events: none;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #3E5255;
  padding: 12px 0;
}

.logo-foot svg {
  height: 1rem;
  width: auto;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 0.875rem;
}
.contact-info .contact-link {
  text-decoration: none;
  color: #3E5255;
}
.contact-info .contact-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.page-copyright {
  font-size: 0.75rem;
  text-align: center;
  padding: 12px 0;
  color: #666666;
}

#success-message {
  display: none;
  position: fixed;
  bottom: 84px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  background-color: #B3D1D4;
  color: #3E5255;
  padding: 8px 12px;
  border-radius: 4px;
  opacity: 92%;
  font-size: 0.875rem;
  font-weight: 700;
}

.hero-img {
  width: 100%;
}

.hero-txt {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.hero-title {
  display: flex;
  flex-direction: column;
  gap: 2px;
  line-height: 1.3;
  border-left: 2px solid #282828;
  padding-left: 8px;
  margin-left: -8px;
}

.project-client {
  font-size: 1rem;
  text-transform: uppercase;
}

.project-type {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  font-size: 0.875rem;
  color: #666666;
  margin-top: 2px;
}

.h2-divider {
  display: flex;
  align-items: center;
  gap: 20px;
}
.h2-divider hr {
  border: 1px solid #666666;
  flex-grow: 1;
}

.project-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  font-size: 1rem;
  padding: 12px 0 36px;
}
.project-footer a {
  color: #282828;
}
.project-footer a:hover {
  color: #B3D1D4;
}

.caption-txt {
  font-size: 0.875rem;
  text-align: right;
}

.img-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.img-child {
  flex: 1 1 320px;
}

@media (min-width: 600px) {
  .navbar {
    padding: 20px 60px;
  }
  .logo-nav-mobile {
    display: none;
  }
  .logo-nav {
    display: block;
  }
  .page-width {
    padding: 0 60px;
  }
  body {
    font-size: 1.25rem;
  }
  h1 {
    font-size: 2.25rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  .subheader {
    font-size: 1.5rem;
    padding-bottom: 20px;
  }
  .hero-title {
    gap: 4px;
    border-left: 4px solid #282828;
    padding-left: 16px;
    margin-left: -16px;
  }
  .project-client {
    font-size: 1.25rem;
  }
  .project-type {
    gap: 12px;
    font-size: 1rem;
    margin-top: 4px;
  }
  .hero-txt {
    gap: 36px;
  }
  .paragraphs-spacing {
    gap: 24px;
  }
  .h2-divider {
    gap: 32px;
  }
  .h2-divider hr {
    border-width: 2px;
  }
  .project-footer {
    gap: 12px;
    font-size: 1rem;
    padding: 12px 0 56px;
  }
  #success-message {
    bottom: 80px;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 1rem;
  }
  .img-wrapper {
    gap: 32px;
  }
  .caption-txt {
    font-size: 1rem;
  }
  .block-txt {
    padding: 56px 0 72px;
  }
  .block-img {
    padding: 16px 0;
  }
  .block-caption {
    padding: 16px 0 0;
  }
  .block-divider {
    padding: 60px 0 44px;
  }
  .project-content {
    padding-bottom: 44px;
  }
}
@media (min-width: 860px) {
  nav a {
    font-size: 1.25rem;
  }
  .logo-nav svg {
    height: 1.5rem;
  }
  .text-grid-container {
    display: grid;
  }
}
@media (min-width: 1200px) {
  .page-width {
    padding: 0 80px;
  }
  .navbar {
    padding: 20px 80px;
  }
  body {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  .subheader {
    font-size: 1.75rem;
    padding-bottom: 24px;
  }
  .page-footer {
    padding: 16px 0;
  }
  .logo-foot svg {
    height: 1.25rem;
  }
  .contact-info {
    gap: 16px;
    font-size: 1rem;
  }
  .page-copyright {
    padding: 20px 0;
  }
  .hero-img {
    padding: 0 80px;
  }
  .hero-title {
    padding-left: 20px;
    margin-left: -20px;
  }
  .project-client {
    font-size: 1.75rem;
  }
  .project-type {
    font-size: 1.25rem;
  }
  .hero-txt {
    gap: 40px;
  }
  .paragraphs-spacing {
    gap: 32px;
  }
  .h2-divider {
    gap: 40px;
  }
  .project-footer {
    gap: 16px;
    font-size: 1.25rem;
    padding: 20px 0 80px;
  }
  .img-wrapper {
    gap: 40px;
  }
  .caption-txt {
    font-size: 1.25rem;
  }
  .block-txt {
    padding: 72px 0 100px;
  }
  .block-img {
    padding: 20px 0;
  }
  .block-caption {
    padding: 20px 0 0;
  }
  .block-divider {
    padding: 92px 0 60px;
  }
  .project-content {
    padding-bottom: 60px;
  }
}
.home-hero-logo {
  padding: 180px 0 12px;
}

.logo-hero svg {
  width: 264px;
}

.home-hero-tagline {
  padding: 12px 0 60px;
  color: #3E5255;
  font-weight: 500;
  font-size: 24px;
  display: flex;
  gap: 12px;
}

.project-gallery {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.content-spacing {
  padding-top: 100px;
  padding-bottom: 80px;
}

.h1-home {
  font-size: 2rem;
}

.project-scroll {
  display: grid;
  grid-column-gap: 6%;
  grid-auto-flow: column;
  grid-auto-columns: 82%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  padding-bottom: 20px;
  padding-top: 20px;
}

.project-card {
  scroll-snap-align: start;
}

.project-card {
  text-decoration: none;
  color: #282828;
}
.project-card:hover .project-card-title {
  text-decoration: underline;
}

.project-card-text {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.project-card-client {
  font-size: 1rem;
  text-transform: uppercase;
}

.project-card-title {
  font-size: 1.5rem;
}

.project-card-type {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  font-size: 0.875rem;
  color: #666666;
  margin-top: 2px;
}

@media (min-width: 600px) {
  .project-scroll {
    grid-auto-columns: 74%;
    grid-column-gap: 3%;
  }
  .content-spacing {
    padding-top: 120px;
    padding-bottom: 100px;
  }
  .home-hero-logo {
    padding: 200px 0 20px;
  }
  .logo-hero svg {
    width: 356px;
  }
  .home-hero-tagline {
    padding: 20px 0 80px;
    font-size: 32px;
    gap: 16px;
  }
}
@media (min-width: 860px) {
  .project-scroll {
    grid-auto-columns: 44%;
  }
  .home-hero-logo {
    padding: 260px 0 20px;
  }
  .logo-hero svg {
    width: 400px;
  }
  .home-hero-tagline {
    padding: 20px 0 120px;
    font-size: 36px;
    gap: 16px;
  }
}
@media (min-width: 1200px) {
  .h1-home {
    font-size: 2.25rem;
  }
  .project-scroll {
    grid-auto-columns: 40%;
    padding-bottom: 28px;
    padding-top: 28px;
  }
  .project-card-text {
    padding-top: 20px;
  }
  .project-card-client {
    font-size: 1.125rem;
  }
  .project-card-title {
    font-size: 1.75rem;
  }
  .project-card-type {
    font-size: 1rem;
  }
}
.logo-text {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 120%;
}

.portrait-img-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 320px;
  overflow: hidden;
  pointer-events: none;
}
.portrait-img-container img {
  transform: translateX(100px);
}

.btn-primary {
  color: #FFFFFF;
  text-decoration: none;
  background-color: #3E5255;
  padding: 8px 80px;
  border-radius: 4px;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 0.875rem;
  font-size: 0.875rem;
  font-weight: 700;
  margin-top: 8px;
  align-self: flex-start;
}
.btn-primary:hover {
  background-color: #B3D1D4;
  color: #3E5255;
}

@media (min-width: 600px) {
  .logo-text {
    font-size: 2.75rem;
    line-height: 100%;
  }
  .portrait-img-container {
    width: 380px;
  }
  .portrait-img-container img {
    transform: translateX(60px);
  }
  .btn-primary {
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 1.125rem;
    margin-top: 8px;
  }
}
@media (min-width: 860px) {
  .logo-text {
    font-size: 3rem;
  }
  .portrait-img-container {
    width: 520px;
  }
  .portrait-img-container img {
    transform: translateX(0px);
  }
}
@media (min-width: 1200px) {
  .btn-primary {
    font-size: 1.25rem;
    margin-top: 12px;
  }
}
.four0four-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;
}

.four0four-block {
  padding-top: 80px;
  padding-bottom: 80px;
  flex-grow: 1;
  align-content: center;
}

.four0four-link {
  font-size: 1rem;
  color: #282828;
}
.four0four-link:hover {
  color: #B3D1D4;
}

@media (min-width: 600px) {
  .link-404 {
    font-size: 1.25rem;
  }
}
@media (min-width: 1200px) {
  .link-404 {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=main.css.map */